body,
html {
    height: 100%;
    margin: 0;
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/desktop1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    text-align: center;
}

header h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
}

header h2 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

main h2 {
    font-family: 'Oswald', sans-serif;
    color: #464547;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

main h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

main p {
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

main button {
    background: #55C2D8;
    border-radius: 18px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 26px;
    padding: 5px 20px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

section {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    /* background-image: url(../assets/desktop2.png); */
    background-image: 
    linear-gradient(to bottom,  rgba(140, 79, 42, 0.3),  rgba(140, 79, 42, 0.3)), 
    url(../assets/desktop2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

section h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}

section h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

section button {
    background: #39C2D7;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 64px;
    text-align: center;
    border: none;
   padding-left: 20px;
}

footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("/assets/Rectangle\ 11.png");
    width: 100%;

}

.footer-div-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 100px;
    margin: 20px 0px 0px 0px;
}

.footer-paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 100px;
}

.footer-paragraph a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}